h1 {
  font-size: 36pt
}
h3 {
  font-size: 18pt
}

.container {
  width: 960px;
  margin: 20px auto;
}
content {
  width: 960px;
}
.row {
  display: flex;
}
.column { 
  display:: table-cell;
  vertical-align: middle;
}
.icon {
  width: 20%
}
